/*================Footer =============*/
footer{
  background-color: $text-red;
  min-height: 390px;
  img.footer-logo-img{
    display: block;
    width: 80px;
    margin:15px auto;
  }

}
.footer-nav{
  ul{
        column-count: 3;
        font-family: 'Shadows Into Light', cursive;
        list-style: none;
    li{
      a{
        color: #fff;
        font-size: 24px;
        text-align: center;
        text-decoration: none;
      }

    }
  }
}
.footerTel{
  text-align: center;


  a{
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    font-size: 16px;
  }
}
p.copyright{
  //float: left;
  text-align: center;
  padding: 35px 20px 0px;
  color: #fff;
}
p.childress{
  //float: right;
  text-align: center;
  padding: 5px 20px 0px;
  color: #fff;
  a{
    color: #fff;
  }
}
