

/*==========================================  Main scss ===================================================================== */
#inventory{
  background-image: url(./images/bike-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  //background-position-x:-100px;
  height: 45.45vh;

}
.inventoryTitle{
  padding: 20px 30px;
  h1{
    color: #fff;
    font-weight: 600;
    text-shadow: 2px 2px $text-red;
    text-align: center;
    font-size: 30px;
  }

}
a.btn-main{
  display: block;
  border:solid 2px $text-red;
  background: #fff;
  color: $text-red;
  text-align: center;
  text-decoration: none;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 600;
  padding: 2px 20px;
  margin: 0 auto;
  width:100px;
}
#scrollDown {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    a{
      text-decoration: none;
    }
}
#scrollDown>.glyphicon {
    font-weight: 700;
    display: block;
    font-size: 27px;
}
#links{
  padding-top: 50px
}
.linkBox{
  min-height: 150px;
  text-align: center;
  img.links-img{
    display: block;
    height: 64px;
    margin: 0 auto;
  }
  a{
    color: $text-red;
    font-weight: 600;
  }
}
#location{
  background-color: $grey;
  a.btn-main{
    margin-top:15px;
    margin-bottom: 30px;
  }
}
.locationContent{
  h2{
    text-align: center;
    color: #fff;
  }
  p{
    color: $sand;
    text-align: center;
    font-weight: 400;
  }

  span.mapLink{
    display: block;
    margin:15px 0 10px 0;
    text-align: center;
    a{
      color: $sand;
      text-decoration: none;
      font-weight: 600;
    }
  }
  span.telLink{
    display: block;
    margin:15px 0 10px 0;
    text-align: center;
    a{
      color: $sand;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
#map{
  display: block;
  max-width:536px;
  max-height:405px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 30px auto;
}
#contact{

}
.facebookLink{
  h2{
    color: $text-red;
    text-align: center;
    img{
      margin: 0 0 7px 10px;
    }
  }
  .fbBikeWorks{
    display: block;
    max-width: 372px;
    width:100%;
    margin: 0px auto;
    background-color: $light-blue;
    padding: 15px;
  }
}
.contactForm{
  h2{
    color: $text-red;
    text-align: center;
  }
  .input-lg{
    border-radius: 0;
  }
  .form-control{
    border:none;
    background-color: $light-blue;

  }
  input[type="submit"]{
    display: block;
    border:solid 2px $text-red;
    background: #fff;
    color: $text-red;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 600;
    padding: 2px 20px;
    //margin: 0 auto;
    float: right;
    width:100px;
    margin: 20px 0 60px 0;
  }
  .form-group{
    margin-bottom: 0;
  }
}
#hero{
  background-size: cover;
  background-repeat: no-repeat;
  height:250px;
  .greyArea{
    display: block;
    position: relative;
    background-color: $trans-grey;
    width: 100%;
    height:210px;
    top: 22px;
  }
  .heroContent{
    padding: 10px 30px;
    //margin-top:20px;
    p{
      color:#fff;
    }
  }
}
#team{
  h2{
    text-align: center;
    color: $text-red;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 600;
    margin: 30px 0;
    font-size: 36px;
  }
  .employeeInfo{
    img{
      display: block;
      margin: 0 auto;
    }
    h3{
      text-align: center;
      color: $text-red;
      font-family: 'Shadows Into Light', cursive;
      font-weight: 600;
      font-size:30px
    }
    h4{
      text-align: center;
      text-transform: uppercase;
      color: $grey;
    }
    p{
      text-align: center;
    }
  }
}
/*=================================== Blog Page ===================================================*/
#hero-blog{
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  h1{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top:60px;
  }
  .heroSocials{
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
  }
}
.blogHeader{
  h2{
    font-size: 26px;
    text-align: center;
    color: $grey;
    font-weight: 600;
  }
}
.blogSwitch{
  display: flex;
  justify-content: space-around;
  padding: 10px 100px;
  span{
    min-height:60px;
    h5{
      position: absolute;
      bottom: 0;
      font-family: 'Shadows Into Light', cursive;
      color: $text-red;
      text-align: center;
    }
  }
  span:nth-child(2){
    h5{
      font-family: 'Shadows Into Light', cursive;
      color: $grey;
      text-align: center;
    }
    img{
      padding-top:7px;
    }
  }
}
hr{
  width:80%;

  border-top: 1px solid $grey;
}
.blogPost{
  span{
    float: left;
    clear: both;
    color: $text-red;
    margin: 0 10px 0 20px;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
  }
  span:nth-child(2){
    font-size: 50px;
  }
}
