/* responsive settings */
$screen-xl-min: 1600px;
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Sass Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
 .masthead{
   height: 17.25vh;
 }
 .navbar{
   height: 7.25vh;
 }
 #inventory{
   height: 75.5vh;
 }
 .hours{
   margin-top: 12px;
   h3{
     text-align: left;
   }
 }
 .logo{
   img{
     width: 95px;
   }
 }
 .phone{
   text-align: right;
 }
 ul#menu-top-menu{
   display: block;
   width: 440px;
   margin: 0 auto;
   float: none;
 }
 .locationContent{
   h2{
     margin-top:60px;
   }

 }
 /*======================= Home Page =========================*/
 .inventoryTitle {
   padding: 110px 30px;
 }
 .facebookLink, .contactForm{
   h2{
     font-size: 24px;
     margin-top:60px;
   }
 }
 #contact{
   min-height: 730px;
 }
 /*====================== Footer ===============================*/
  .footer-nav{
    ul{
      column-count: unset;
      display: flex;
      justify-content: space-around;
      width: 100%;
      li{
        a:focus{
          background-color: transparent;
        }
        a:hover{
          background-color: transparent;
        }
      }
    }
  }
}
/* Medium devices (desktops, 992px and up) =====================================================================================================*/
@media (min-width: $screen-md-min) {

}
/* Large devices (large desktops, 1200px and up)============================================================================================ */
@media (min-width: $screen-lg-min) {

}
/* Large devices (large desktops, 1600px and up)============================================================================================ */
@media (min-width: $screen-xl-min) {

}
