/*========================================= Variables =================================================*/


// Colors
$text-red:rgb(108, 33, 37);
$sand:rgb(252, 239, 209);
$grey:rgb(125, 124, 137);
$light-blue:rgb(203, 221, 242);
$trans-grey:rgba(150, 150, 150, .7);







// hovers


//button
